﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/_/css")

</head>
    <body>
        <div id="mainContainer">
            <div id="header">
                <img id="logo" alt="logo" src="/_/img/Blockbuster.png"/>
                <div id="timer">0.00</div>
                <nav>
                    <ul>
                        <li>@Html.ActionLink("Current Stock Levels", "Index", "Home")</li>
                        <li>@Html.ActionLink("Add new item", "AddItem", "Home")</li>
                    </ul>
                </nav>
            </div>
            <div id="content">
                @RenderBody()        
            </div>
        </div>
        

        <script src="/_/js/jquery-1.9.1.min.js"></script>
<script src="/_/js/siteFunctions.js"></script>
    </body>
</html>
