﻿@model WebsiteTest.Site.Models.AddItemModel
@{
    ViewBag.Title = "FakeBuster - Add Item";
}

@using(Html.BeginForm())
{
    <fieldset>
        <legend>Add new item</legend>
        
        @Html.LabelFor(x => x.Title)
    @Html.TextBoxFor(x => x.Title)

    @Html.LabelFor(x => x.SelectedStockType)
    @Html.DropDownListFor(x => x.SelectedStockType, Model.StockTypes)

        <button type="submit">Add Item</button>

    </fieldset>
    
}
