﻿@model ICollection<WebsiteTest.Domain.Entities.Stock>
@{
    ViewBag.Title = "Stock";
}

<h2>Stock</h2>
<table cellpadding="0" cellspacing="0" border="0">
    <thead>
        <tr>
            <th id="col1"></th>
            <th id="col2">Title</th>
            <th id="col3">Amount on Loan</th>
            <th id="col4">Type</th>
            <th id="col5">Actions</th>
        </tr>
    </thead>
    <tbody>
        @{ var rowColour = false;}
        @foreach(var stock in Model)
        {
            <tr class="@(rowColour? "" : "alt")">
                <td>
                    @if(stock.Loans.Any())
                    {
                        <a href="#" class="expand">+</a>
                    }
                </td>
                <td>@stock.Title</td>
                <td>@stock.Loans.Count(x => x.Returned == null)</td>
                <td>@stock.StockType.Name</td>
                <td>@Html.ActionLink("Loan", "LoanItem", new {id = stock.Id} )</td>
            </tr>
            <tr class="hidden @(rowColour? "" : "alt")">
                <td colspan="5">
                    <table>
                        <thead>
                            <tr>
                                <th>Customer</th>
                                <th>Loan Date</th>
                                <th>Return Date</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var loan in stock.Loans)
                            {
                                <tr>
                                    <td>@(loan.Customer.FirstName + " " + loan.Customer.LastName)</td>
                                    <td>@loan.LoanedOut</td>
                                    <td>@loan.Returned</td>
                                    <td>@if(loan.Returned == null)
                                        {
                                            @Html.ActionLink("Return", "ReturnItem", new {id = loan.Id})
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </td>
            </tr>
            rowColour = !rowColour;
            
        }        
    </tbody>
</table>

