﻿@model WebsiteTest.Site.Models.LoanItemModel
@{
    ViewBag.Title = "FakeBuster - Loan Item";
}

@using(Html.BeginForm())
{
    <fieldset>
        <legend>Loan an Item</legend>
        
        @Html.HiddenFor(x => x.StockId)
    
        @Html.LabelFor(x =>x.Title)
        @Html.TextBoxFor(x => x.Title, new {disabled = "disabled"})
    
        @Html.LabelFor(x =>x.StockType)
        @Html.TextBoxFor(x => x.StockType, new {disabled = "disabled"})
    
        @Html.LabelFor(x => x.SelectedCustomer)
        @Html.DropDownListFor(x => x.SelectedCustomer, Model.Customers.ToList())
    
        <button type="submit">Loan Item</button>
    </fieldset>
    
}