﻿@model WebsiteTest.Site.Models.ReturnItemModel
@{
    ViewBag.Title = "FakeBuster - Return Item";
}

@using(Html.BeginForm())
{
    <fieldset>
        <legend>Return an Item</legend>
        @Html.LabelFor(x=>x.Title)
    @Html.TextBoxFor(x=>x.Title, new {disabled="disabled"})

    @Html.LabelFor(x=>x.Type)
    @Html.TextBoxFor(x=>x.Type, new {disabled="disabled"})

    @Html.LabelFor(x=>x.Name)
    @Html.TextBoxFor(x=>x.Name, new {disabled="disabled"})

    @Html.HiddenFor(x=>x.LoanId)

    <button type="submit">Return Item</button>
    </fieldset>
    
}
