﻿
body {
    font-family: verdana;
    font-size: 12px;
}

#mainContainer {
    width: 960px;
    margin: 0 auto;
}

#header {
    position: relative;
    background: transparent url('/_/img/header.png') repeat-x;
}
#header nav {
    position: absolute;
    right: 0;
    bottom: 0;
}
#header nav ul {

    margin: 0;
    padding: 0;
    list-style: none;
}
#header nav ul li {
    float: left;
    padding: 0 3px;
    border-right: 1px solid #a1a1a1;
}
#header nav ul li:last-child {
    border: none;
}

#header #timer {
    background-color: lightyellow;
    position: absolute;
    top: 0;
    right: 0;
    height: 30px;
}

table {
    width: 960px;
}
table td, table th {
    margin: 0;
    padding: 3px 0;
    border: none;
}
table tr.alt td {
    background-color: #a1a1a1;
}


.hidden {
    display: none;
}
a {
    font-style: italic;
    text-decoration: none;
    color: #000;
}
fieldset {
    width: 320px;
}
label {
    width: 90px;
    text-align: right;
    height: 21px;
    line-height: 21px;
    display: block;
    float: left;
    margin: 0 10px 10px 0;
}
input, select {
    width: 200px;
    height: 21px;
    line-height: 21px;
    display: block;
    float: left;
    margin: 0 0 10px 0;
}
button {
    float: right;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}
